body {
  background: #f5f5f5;
}

section {
  position: relative;
  /* 모바일 크기로 설정 */
  width: 392px;
  height: 852px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contents {
  height: 100%;
  padding: 16px;
  background: #fff;
}

.title-h4 {
  font-size: 20px;
}

.text-center {
  width: 100%;
  text-align: center;

  + .text-center {
    margin-top: 10px;
  }
}

.text-right {
  width: 100%;
  text-align: right;
}

.text-link {
  position: relative;
  color: #6b6b6b;
  font-size: 16px;

  &:hover,
  &:focus {
    color: #ae6cdc;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background: #6b6b6b;
  }

  &:hover:before,
  &:focus:before {
    background: #ae6cdc;
  }
}

.nav-link {
  display: block;
  margin-top: 24px;
  font-size: 14px;
  img {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  &:hover {
    color: #000;
  }
}

.nav-top {
  padding: 16px;
  background: #fff;
}

.form-control {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  input {
    padding-right: 90px;
    font-size: 16px;
    &:focus {
      border-color: #ae6cdc;
      &::placeholder {
        color: #000;
      }
    }
  }

  .btn-sm {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.btn {
  &-sm {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
  }

  &-gray {
    background: #6b6b6b;
    color: #fff;
  }
}

.text-btn {
  font-weight: 700;
  &-primary {
    color: #ae6cdc;
  }
}

.box {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

  + .box {
    margin-top: 20px;
  }

  .box-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .box-title {
      font-size: 18px;
      font-weight: 400;
    }
    .text-btn {
      font-size: 18px;
    }
  }
}

.nav-top {
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .logo {
    width: 180px;
    margin-top: 120px;
  }

  h4 {
    width: 100%;
    text-align: left;
    margin: 80px 0 20px;
  }

  .actions {
    width: 100%;

    button {
      width: 100%;
      margin: 20px 0;
      padding: 20px;
      background: #ae6cdc;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      border-radius: 40px;
    }
  }

  .actions + .text-center {
    margin-top: 40px;
  }
}

.dock-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 24px 46px;
  background: #fff;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.08);
  z-index: 9;

  .dock-item {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 74px;

    .dock-link {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #000;
      }
    }

    .icon {
      width: 28px;
    }

    .text {
      font-size: 14px;
    }
  }
}

/* 메인 */
.logo {
  width: 96px;
  margin-bottom: 20px;
}

.total-price-wrap {
  text-align: right;

  .price {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
  }
  .won {
    font-size: 18px;
    vertical-align: 3px;
  }
}

.subscr-list {
  max-height: 330px;
  overflow: scroll;

  .subscr-list-item {
    display: flex;

    + li {
      margin-top: 24px;
    }

    .icon {
      flex-shrink: 0;
      width: 54px;
      height: 54px;
      margin-right: 16px;

      img {
        width: 100%;
      }
    }

    .name {
      display: block;
      margin-top: 2px;
      font-size: 18px;
    }

    .price-wrap {
      margin-top: 8px;
      font-size: 18px;
      font-weight: 700;

      .won {
        font-size: 16px;
        margin-left: -2px;
      }
    }

    .payment-wrap {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      font-size: 14px;

      .sharing {
        margin-top: 16px;
        text-align: right;
        color: #ae6cdc;
        img {
          width: 14px;
          vertical-align: middle;
        }
      }

      .payment-due {
        margin-top: auto;
        margin-left: auto;
        color: #6b6b6b;

        .date {
          font-weight: 700;
        }
      }
    }
  }
}
